<header id="header" data-turbolinks-permanent>
  <div class="inner-header">
    <div class="container">
      <!--<div class="header-left">
        <div class="item">
          <img src="{{ "/assets/img/cbf-confederacao-brasileira-de-futebol.svg" | relative_url }}">
        </div>
      </div>-->
      <div class="site-title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
      <!--<div class="header-right">
        <div class="item">
          <a href="https://fb.com/theproducoes">
            <img src="{{ "/assets/img/facebook-icon.svg" | relative_url }}" alt="Nossa página no Facebook" title="Nossa página no Facebook">
          </a>
        </div>
        <div class="item">
          <a href="https://www.youtube.com/channel/UCKWbuyXLe40PbD6Azj5tlVQ">
            <img src="{{ "/assets/img/youtube-icon.svg" | relative_url }}" alt="Nosso canal no YouTube" title="Nosso canal no YouTube">
          </a>
        </div>
      </div>-->
    </div>
  </div>
  <div class="sub-header">
    <div class="container">
      <!--<nav>
        <ul>
          <li><a href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/home.svg" | relative_url }}" alt="Logo">Página Inicial</a></li>
          <!--{% for post in site.categories['Atualizações'] limit:1 %}
            <li><a href="{{ post.url | relative_url }}">Atualização</a></li>
          {% endfor %}
          <li><a href="{{ "/2017/11/ultimate-dvd-fifa-08/" | relative_url }}">Ultimate DVD</a></li>
          <li><a href="{{ "/2017/11/fat-master-08/" | relative_url }}">FAT Master</a></li>
          <li><a href="{{ "/jogo-completo/" | relative_url }}"><img src="{{ "/assets/img/download.svg" | relative_url }}" alt="Logo">Download do patch</a></li>
          {% for post in site.tags['Atualizações'] limit:1 %}
          <li><a href="{{ post.url | relative_url }}"><img src="{{ "/assets/img/download.svg" | relative_url }}" alt="Logo">Download da atualização</a></li>
          {% endfor %}
          <li><a href="{{ "/musicas/" | relative_url }}"><img src="{{ "/assets/img/musics.svg" | relative_url }}" alt="Logo">Músicas</a></li>
          <li><a href="{{ "/tags/" | relative_url }}"><img src="{{ "/assets/img/faq.svg" | relative_url }}" alt="Logo">Tags</a></li>
          <li><a href="{{ "/perguntas-frequentes/" | relative_url }}"><img src="{{ "/assets/img/faq.svg" | relative_url }}" alt="Logo">Perguntas frequentes</a></li>
          <li><a href="{{ "/contato/" | relative_url }}"><img src="{{ "/assets/img/contact.svg" | relative_url }}" alt="Logo">Contato</a></li>
          <!--<li id="logar"><a href="{{ "/login/" | relative_url }}" target="_self">Login</a></li>
          <li id="logado" style="display:none;"><a href="{{ "/login/" | relative_url }}">Vip</a></li>
          <li id="deslogar" style="display:none;"><a href="{{ "/login/" | relative_url }}" target="_self">Sair</a></li>
        </ul>
      </nav>-->
      <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <nav class="nav-links">
          <ul>
            <li><a href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/home.svg" | relative_url }}" alt="Página Inicial">Página Inicial</a></li>
            <!--{% for post in site.categories['Atualizações'] limit:1 %}
              <li><a href="{{ post.url | relative_url }}">Atualização</a></li>
            {% endfor %}
            <li><a href="{{ "/2017/11/ultimate-dvd-fifa-08/" | relative_url }}">Ultimate DVD</a></li>
            <li><a href="{{ "/2017/11/fat-master-08/" | relative_url }}">FAT Master</a></li>-->
            <li><a href="{{ "/jogo-completo/" | relative_url }}"><img src="{{ "/assets/img/download.svg" | relative_url }}" alt="Download do patch">Download do patch</a></li>
            {% for post in site.tags['Atualizações'] limit:1 %}
            <li><a href="{{ post.url | relative_url }}"><img src="{{ "/assets/img/download.svg" | relative_url }}" alt="Download da atualização">Download da atualização</a></li>
            {% endfor %}
            <li><a href="{{ "/musicas/" | relative_url }}"><img src="{{ "/assets/img/musics.svg" | relative_url }}" alt="Músicas">Músicas</a></li>
            <li><a href="{{ "/categorias/" | relative_url }}"><img src="{{ "/assets/img/categories.svg" | relative_url }}" alt="Categorias">Categorias</a></li>
            <li><a href="{{ "/perguntas-frequentes/" | relative_url }}"><img src="{{ "/assets/img/faq.svg" | relative_url }}" alt="Logo">Perguntas frequentes</a></li>
            <li><a href="{{ "/contato/" | relative_url }}"><img src="{{ "/assets/img/contact.svg" | relative_url }}" alt="Contato">Contato</a></li>
            <li><a href="{{ "/pesquisar/" | relative_url }}"><img src="{{ "/assets/img/search.svg" | relative_url }}" alt="Pesquisar"></a></li>
            <!--<li id="logar"><a href="{{ "/login/" | relative_url }}" target="_self">Login</a></li>-->
            <li id="logado" style="display:none;"><a href="{{ "/login/" | relative_url }}">Vip</a></li>
            <li id="deslogar" style="display:none;"><a href="{{ "/login/" | relative_url }}" target="_self">Sair</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>