---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.glbbarrawidget {
	background-color: #F3F3F3;
}
.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
}
header {
	margin: 0 0 20px 0;
	.inner-header {
		width: 100%;
		padding: 7px 0 7px 0;
		background-color: #9F1617;
		display: flex;
		align-items: center;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.header-left {
				.item {
					img {
						height: 55px;
					}
				}
			}
			.site-title {
				a {
					color: #fff;
					font-size: 32px;
					font-weight: 600;
					margin: 0 0 0 40px;
					-moz-transition: opacity .3s ease;
    				-o-transition: opacity .3s ease;
    				-webkit-transition: opacity .3s ease;
    				transition: opacity .3s ease;
				}
				a:hover {
					opacity: .7;
				}
			}
			.header-right {
				.item {
					display: inline-block;
					img {
						height: 30px;
						margin: 5px;
					}
				}
			}
		}
	}
	.sub-header {
		width: 100%;
		background-color: #871314;
		display: flex;
		align-items: center;
		text-align: center;
		.container {
			display: flex;
			justify-content: center;
		}
		nav {
			ul {
				list-style: none;
				li {
					display: inline-block;
				    cursor: pointer;
				    -webkit-transition: all .2s ease-in-out;
				    transition: all .2s ease-in-out;
				    a {
				    	color: rgba(255, 255, 255, 0.8);
					    text-decoration: none;
					    display: block;
					    padding: 11px;
					    font-family: 'Open Sans', sans-serif;
					    font-weight: 500;
				    }
				}
				li:hover {
    				background: rgba(0, 0, 0, 0.1)
				}
			}
		}
	}
}
.featured {
	margin: 0 0 25px 0;
	#feed {
		div {
			text-align: center;
			h1 {
				a {
					font-size: 35px;
					color: #1F6ED4;
					display: block;
				}
			}
		}
	}
}
main {
	 flex: 1;
	.container {
		max-width: 1170px;
		.columns {
			display: flex;
			.column-left {
				flex: 1 2 510px;
				margin-bottom: 25px;
				.banner {
					width: 100;
					margin: 0 0 22px 0;
					img {
						width: 100%;
					}
				}
				.posts {
					.post {
						display: flex;
						border-bottom: 1px solid #c8c8c8;
						min-height: 220px;
						margin-bottom: 25px;
						.post-img {
							flex: 0 0 330px;
							figure {
								position: relative;
							    background: #fbfbfb;
							    margin: 3px 0 10px 0;
							    width: 100%;
							    height: 185px;
							    padding-bottom: 46%;
							    overflow: hidden;
							    border-radius: 3px;
								img {
									width: 100%;
								    height: auto;
								    position: absolute;
								    top: 0;
								    left: 0;
								}
							}
						}
						.post-text {
							padding: 15px 15px 15px 15px;
							em {
								color: #333;
							    font-size: 16px;
							    font-style: normal;
							    text-transform: lowercase;
							}
							h2 {
								font-size: 24px;
								line-height: 28px;
								a {
									color: #1F6ED4;
								}
							}
							span {
								color: #999;
							}
						}
					}
				}
			}
			.column-right {
				flex: 0 0 400px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				.card {
					display: flex;
					flex-direction: column;
					width: 355px;
					border-radius: 3px 3px 3px 3px;
					border: 1px solid #c8c8c8;
					margin: 0 0 30px 0;
					.card-title {
						height:46px;
						background-color: #871314;
						display: flex;
						align-items: center;
						padding: 0px 16px 0px 16px;
						h3{
							color: #fff;
							font-family: proximanova-bold,"Helvetica Neue",Arial,sans-serif;
							font-size: 16px;
							text-transform: uppercase;
						}
					}
					.card-subtitle {
						height: 72px;
						background-color: #fafafa;
						display: flex;
						justify-content: center;
						align-items: center;
						border-top: 1px solid #eaeaea;
						border-bottom: 1px solid #eaeaea;
						h4 {
							font-family: opensans-light,"Helvetica Neue",Arial,sans-serif;
							font-size: 25px;
							font-weight: 300;
							color: #333;
						}
					}
					.card-content.teams {
						text-align: center;
						padding: 10px 7px 10px 7px;
						img {
							width: 45px;
							margin: 13px 7px 13px 7px;
						}
					}
					.card-content.opinion {
						display: flex;
						padding: 15px;
						.author-img {
							height: 90px;
							width: 90px;
							min-height: 90px;
							min-width: 90px;
							background-color: #000;
							border-radius: 50% 50%;
						}
						blockquote {
							text-align: center;
							width: 100%;
							padding: 0 0 0 10px;
							h2 {
								color: #999;
								display: block;
								font-family: "proximanova-bold",Helvetica,sans-serif;
								font-size: 13px;
								text-transform: uppercase;
							}
							p {
								color: #3b9c00;
								font-size: 18px;
							}
						}
					}
					.card-content.fb-page {
						text-align: center;
					}
					.card-content.news {
						#feed2 {
							div {
								a {
									color: #1F6ED4;
									font-size: 18px;
									border-bottom: 1px solid #E6E6E6;
									display: block;
									padding: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
article {
	.post-header {
		.post-title{
			font-size: 27px;
			color: #333333;
		}
		.post-meta {
			color: #999;
		}
	}
	.post-content {
		margin: 0 0 0px 0;
		figure {
			display: block;
			text-align: center;
			margin-bottom: 15px;
			img {
				width: auto;
				max-width: 100%;
			}
			iframe {
			    height: 350px;
			    max-height:100%;
			    width: 600px;
			    max-width: 100%;
			}
		}
		p {
			font-size: 18px;
    		line-height: 27px;
			color: #484848;
			margin: 0 0 15px 0;
		}
		h2 {
			color: #218C74;
			margin-bottom: 12px;
		}
		ul {
			font-size: 18px;
			padding: 0 0 0 25px;
			margin: 0 0 15px 0;
		}
		ol {
			font-size: 18px;
			padding: 0 0 0 25px;
			margin: 0 0 15px 0;
		}
	}
}
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
}

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
}

.pagination {
    text-align: center;
}

footer {
	width: 100%;
	background-color: #9F1617;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		span {
			color: #fff;
		}
	}
}

@media screen and (max-width: 1300px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 1100px) {
 	main {
 		.container {
 			.columns {
 				.column-left {
					.posts {
						.post {
							display: flex;
							border-bottom: 1px solid #c8c8c8;
							min-height: 160px;
							margin-bottom: 25px;
							.post-img {
								flex: 0 0 230px;
								figure {
									position: relative;
								    background: #fbfbfb;
								    margin: 3px 0 10px 0;
								    width: 100%;
								    height: 138px;
								    padding-bottom: 46%;
								    overflow: hidden;
								    border-radius: 3px;
									img {
										width: 100%;
									    height: auto;
									    position: absolute;
									    top: 0;
									    left: 0;
									}
								}
							}
						}
					}
				}
 			}
 		}
 	}
}
@media screen and (max-width: 960px) {
	main {
		.container {
			.columns {
				flex-flow: row wrap;
				.column-left {
					flex: 1 2 510px;
				}
				.column-right {
					flex: none;
				    display: flex;
				    width: 780px;
				    height: 1300px;
				    flex-direction: column;
				    flex-flow: column wrap;
				    align-items: center;
				    justify-content: flex-start;
				    margin: 0 auto;
				}
			}
		}
	}
}
@media screen and (max-width: 880px) {
	main {
		.container {
			.columns {
				flex-flow: row wrap;
				.column-left {
					flex: 1 2 510px;
					margin-bottom: 25px;
				}
				.column-right {
					flex: 1 1 400px;
				    display: flex;
				    height: auto;
				    flex-direction: column;
				    align-items: flex-start;
				    justify-content: flex-start;
					.card {
						width: 100%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 640px) {
	header {
		.inner-header {
			.container {
				flex-direction: column;
				order: -1;
				.header-left {
					display: none;
				}
				.site-title {
					a {
						font-size: 25px;
						margin: 0 0 0 0px;
					}
				}
			}
		}
	}
	.featured {
		#feed {
			div {
				h1 {
					a {
						font-size: 28px;
					}
				}
			}
		}
	}
 	main {
 		.container {
 			.columns {
 				.column-left {
					.posts {
						.post {
							display: flex;
							flex-direction: column;
							border-bottom: 1px solid #c8c8c8;
							min-height: 160px;
							margin-bottom: 25px;
							.post-img {
								flex: 0 0 auto;
								figure {
									position: relative;
								    background: #fbfbfb;
								    margin: 3px 0 0px 0;
								    width: 100%;
								    height: auto;
								    padding-bottom: 36%;
								    overflow: hidden;
								    border-radius: 3px;
									img {
										width: 100%;
									    height: auto;
									    position: absolute;
									    top: -25px;
									    left: 0;
									}
								}
							}
						}
					}
				}
 			}
 		}
 	}
 	article {
		.post-content {
			figure {
				iframe {
				    height: 290px;
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	article {
		.post-content {
			figure {
				iframe {
				    height: 240px;
				}
			}
		}
	}
}
@media screen and (max-width: 450px) {
	main {
 		.container {
 			.columns {
 				.column-left {
					.posts {
						.post {
							.post-img {
								figure {
								    padding-bottom: 56%;
									img {
									    top: 0px;
									}
								}
							}
						}
					}
				}
 			}
 		}
 	}
	article {
		.post-content {
			figure {
				iframe {
				    height: 200px;
				}
			}
		}
	}
}
.download {
	margin-bottom: 15px;
}
/**
 * Download button
 * 1. Make the button a block level element while giving the ability to put several of them on the same line
 * 2. Add some space between next to each others download buttons
 * 3. Vertical rhythm
 * 4. Inner spacing, larger on the left side for the icon
 * 5. Color (reseting the initial blue color)
 * 6. Remove the initial underline
 * 7. Add a border around the button to clearly delimitate it from the background
 * 8. Enable position context for pseudo-element
 * 9. Make all properties transitioned when changing state
 */
.download-button {
  display: inline-block; /* 1 */
  margin-right: 10px; /* 2 */
  margin-top: 5px; /* 3 */
  margin-bottom: 5px;
  padding: 30px 30px 30px 80px; /* 4 */
  color: #686868; /* 5 */
  text-decoration: none; /* 6 */
  border: 1px solid #E3E3E3; /* 7 */
  position: relative; /* 8 */
  transition: 0.15s; /* 9 */
}

/**
 * Hover and focus state for the button
 * 1. Slightly changing the border color
 * 2. Remove the initial blue glow on focus
 */
.download-button:focus,
.download-button:hover {
  border-color: #E31A4C; /* 1 */
  outline: none; /* 2 */
}

/**
 * Launching short CSS animation on click to give visual feedback
 */
.download-button:active {
  animation: enlight 0.5s;
}

/**
 * Arrow icon, displayed as a pseudo-element to keep DOM simple
 * 1. Display the pseudo-element
 * 2. Use a SVG as a background image, not repeated and centered
 * 3. Enable abolute positioning for the pseudo-element within its parent
 * 4. Make it as high as the button
 * 5. Align it on the left of the button
 * 6. Give it the same width as the left padding of the button
 */
.download-button::before {
  content: ''; /* 1 */
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2037/download.svg') no-repeat center; /* 2 */
  position: absolute; /* 3 */
  top: 0; /* 4 */
  bottom: 0; /* 4 */
  left: 0; /* 5 */
  width: 80px; /* 6 */
}

/**
 * File size, displayed as a pseudo-element to keep DOM simple
 * only if the button has the `data-filesize` attribute
 * Ref: https://twitter.com/viki53/status/590496142988738561
 * 1. Display the content of the `data-filesize` attribute
 * 2. Slightly reduce the font-size of the filesize
 * 3. Make the color slightly lighter than the filename
 * 4. Create a gap between the filename and the filesize
 */
.download-button[data-filesize]::after {
  content: '(' attr(data-filesize) ')'; /* 1 */
  font-size: 0.8em; /* 2 */
  color: #969696; /* 3 */
  margin-left: 10px; /* 4 */
}

/**
 * Active animation, playing with box-shadow
 */
@keyframes enlight {
  to { box-shadow: 0 0 0 8px #fce8ed; }
}

/**
 * Demo style
 */
form {
  header {
    margin: 0 0 20px 0;
    div {
      font-size: 90%;
      color: #999;
    }
    h2 {
      margin: 0 0 5px 0;
    }
  }
  > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
    > {
      fieldset > div > div {
        margin: 0 0 5px 0;
      }
      label {
        width: 25%;
        float: left;
        padding-right: 10px;
      }
    }
  }
}

legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}

form > div > {
  div {
    width: 75%;
    float: right;
  }
  fieldset {
    > div {
      width: 75%;
      float: right;
    }
    label {
      font-size: 90%;
    }
  }
}

fieldset {
  border: 0;
  padding: 0;
}

input {
  &[type=text], &[type=email], &[type=url], &[type=password] {
    width: 100%;
    height: 30px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}

textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input {
  &[type=text], &[type=email], &[type=url], &[type=password] {
    width: 50%;
  }
  &[type=text]:focus, &[type=email]:focus, &[type=url]:focus, &[type=password]:focus {
    outline: 0;
    border-color: #4697e4;
  }
}

textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

form #saveForm {
	padding: 5px 15px 5px 15px;
	font-size: 16px;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
    > label {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
  }
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > {
    div, fieldset > div {
      width: 100%;
      float: none;
    }
  }
  input {
    &[type=text], &[type=email], &[type=url], &[type=password] {
      width: 100%;
    }
  }
  textarea, select {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  form > div > label, legend {
    text-align: right;
  }
}