<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      {% if page.layout != "home" %}

      {% else %}
      <div class="featured" id="featured" data-turbolinks-permanent>
        <div class="container">
          <div id="feed"></div>
        </div>
      </div>
      {% endif %}

      <div class="container">

        <div class="columns">
          <div class="column-left">
            {{ content }}
          </div>
          <div class="column-right" id="column-right" data-turbolinks-permanent>
            <div class="card">
              <div class="card-title">
                <h3>Elencos Atualizados</h3>
              </div>
              <div class="card-subtitle">
                <h4>Brasileirão 2019</h4>
              </div>
              <div class="card-content teams">
                  <img src="{{ "/assets/img/escudos/athletico-pr_65.png" | relative_url }}" alt="Athletico-PR" title="Athletico-PR">
                  <img src="{{ "/assets/img/escudos/atletico_mg_60x60.png" | relative_url }}" alt="Atlético-MG" title="Atlético-MG">
                  <img src="{{ "/assets/img/escudos/avai_60x60_.png" | relative_url }}" alt="Avaí" title="Avaí">
                  <img src="{{ "/assets/img/escudos/bahia_60x60.png" | relative_url }}" alt="Bahia" title="Bahia">
                  <img src="{{ "/assets/img/escudos/botafogo_60x60.png" | relative_url }}" alt="Botafogo" title="Botafogo">
                  <img src="{{ "/assets/img/escudos/ceara_60x60.png" | relative_url }}" alt="Ceará" title="Ceará">
                  <img src="{{ "/assets/img/escudos/Escudo-Chape-165.png" | relative_url }}" alt="Chapecoense" title="Chapecoense">
                  <img src="{{ "/assets/img/escudos/corinthians_60x60.png" | relative_url }}" alt="Corinthians" title="Corinthians">
                  <img src="{{ "/assets/img/escudos/cruzeiro_65.png" | relative_url }}" alt="Cruzeiro" title="Cruzeiro">
                  <img src="{{ "/assets/img/escudos/CSA_65.png" | relative_url }}" alt="CSA" title="CSA">
                  <img src="{{ "/assets/img/escudos/flamengo_60x60.png" | relative_url }}" alt="Flamengo" title="Flamengo">
                  <img src="{{ "/assets/img/escudos/fluminense_60x60.png" | relative_url }}" alt="Fluminense" title="Fluminense">
                  <img src="{{ "/assets/img/escudos/fortaleza_65x65.png" | relative_url }}" alt="Fortaleza" title="Fortaleza">
                  <img src="{{ "/assets/img/escudos/goias_60x60.png" | relative_url }}" alt="Goiás" title="Goiás">
                  <img src="{{ "/assets/img/escudos/gremio_60x60.png" | relative_url }}" alt="Grêmio" title="Grêmio">
                  <img src="{{ "/assets/img/escudos/inter65.png" | relative_url }}" alt="Internacional" title="Internacional">
                  <img src="{{ "/assets/img/escudos/palmeiras_60x60.png" | relative_url }}" alt="Palmeiras" title="Palmeiras">
                  <img src="{{ "/assets/img/escudos/santos_60x60.png" | relative_url }}" alt="Santos" title="Santos">
                  <img src="{{ "/assets/img/escudos/sao_paulo_60x60.png" | relative_url }}" alt="São Paulo" title="São Paulo">
                  <img src="{{ "/assets/img/escudos/Vasco-65.png" | relative_url }}" alt="Vasco" title="Vasco">
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <h3>Notícias</h3>
              </div>
              <div class="card-content news">
                  <div id="feed2"></div>
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <h3>Parceiros</h3>
              </div>
              <div class="card-content partners">
                  <div class="partner-banner">
                    <a href="https://www.youtube.com/channel/UCzmRDkcHmcAyJtMNaRNXLzA">
                      <img src="{{ "/assets/img/parceiros/a-lukas-games.jpg" | relative_url }}" alt="A. Lukas Games" title="A. Lukas Games">
                    </a>
                    <a href="https://www.youtube.com/channel/UC-5WMNvfVLQoRwBCvH8hzwQ">
                      <img src="{{ "/assets/img/parceiros/tomael-isoton.jpg" | relative_url }}" alt="Tomael Isoton" title="Tomael Isoton">
                    </a>
                    <a href="https://wvinformaticapublicidade.blogspot.com.br/">
                      <img src="{{ "/assets/img/parceiros/wv-informatica.jpg" | relative_url }}" alt="WV Informática" title="WV Informática">
                    </a>
                  </div>
                  <div class="partner-name">
                    <a href="#"></a>
                  </div>
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <h3>Trabalhos recentes</h3>
              </div>
              <div class="card-content next-updates">
                <ul>
                {% for update in site.data.updates limit:5 %}
                  <li>{{ update.name }}</li>
                  {% assign update_counter = update_counter | plus:1 %}
                {% endfor %}
                </ul>
                {% if update_counter > 4 %}
                  <div class="button">
                    <a href="{{ "/trabalhos-recentes/" | relative_url }}">Ver mais »</a>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <h3>Página no Facebook</h3>
              </div>
              <div class="card-content fb-page">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11';
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-page" data-href="https://www.facebook.com/theproducoes" data-tabs="timeline" data-width="900px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/theproducoes" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/theproducoes">The Produções</a></blockquote></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </main>

    {% include footer.html %}
  <script>
      ga('send', {
        hitType: 'pageview',
        title: document.title,
        location: location.href.split('#')[0],
        page: location.pathname,
        transport: 'beacon',
      });
  </script>
  </body>

</html>
