---
layout: default
---

<div class="banner">
  <img src="{{ "/assets/img/banner.jpg" | relative_url }}">
</div>

<div class="posts">
  
  {{ content }}

    {% for post in paginator.posts %}
      <div class="post">
        {% if post.video_id != null %}
        <div class="post-img">
          <a href="{{ post.url | relative_url }}">
          <figure>
            <img src="https://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg" alt="{{ post.title | escape }}" title="{{ post.title | escape }}">
          </figure>
          </a>
        </div>
        {% else %}
        <div class="post-img">
          <a href="{{ post.url | relative_url }}">
          <figure>
            <img src="{{ "/assets/img/" | relative_url }}{{ post.image }}" alt="{{ post.title | escape }}" title="{{ post.title | escape }}">
          </figure>
          </a>
        </div>
        {% endif %}
        <div class="post-text">

          <div class="category">
            {% for category in post.categories %}
              <em>{{ category }}</em>
            {% endfor %}
          </div>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </div>
      </div>
    {% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; Anterior</a>
  {% else %}
    <span>&laquo; Anterior</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Próxima &raquo;</a>
  {% else %}
    <span>Próxima &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
