---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.video_id == null %}
      <figure>
        <img src="{{ "/assets/img/posts" | relative_url }}{{ page.image }}" alt="{{ page.title | escape }}" title="{{ page.title | escape }}">
      </figure>
    {% else %}
      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video_id }}" frameborder="0" gesture="media" allowfullscreen></iframe>
      </figure>
    {% endif %}
    {{ content }}
    {% if page.downloads %}
      <h2>Download</h2>
      <div class="download">
        {% for download in page.downloads %}
          <a class="download-button" href="{{ download.link }}" data-filesize="{{ download.size }}">{{ download.name }}</a>
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  {% if page.comments %}
  <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'theproducoes'; // required: replace example with your forum shortname
          var disqus_developer = 1; // Comment out when the site is live
          var disqus_identifier = "{{ page.url }}";

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</article>
