<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <script>
      //if (navigator.userAgent.indexOf("Google Page Speed") == -1) {
        //setTimeout(function() {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', {
          trackingId: 'UA-67059182-3',
          cookieDomain: 'auto',
          siteSpeedSampleRate: 100,
          transport: 'beacon',
        });

        //}, 200);
      //}
    </script>
  </head>

  <body>

    <main>

    </main>

  <script>

      ga('send', {
        hitType: 'pageview',
        title: document.title,
        location: location.href.split('#')[0],
        page: "redirect?="+location.href.split('redirect?=').pop(),
        transport: 'beacon',
      });
  </script>
  <script type="text/javascript">
  $( document ).ready(function() {
  var url = window.location.href;
  var id = url.split('=').pop();
  url_noloop = url.split('redirect').pop();
  if ( url_noloop.includes('http') == false ) {
    setTimeout(function(){window.location="https://theproducoes.github.io/"},0)
  }else{
    setTimeout(function(){window.location=id},0)
  }
  
});
</script>

  </body>

</html>
